h1{
    color:#9489d8;
}

h2{
    color: rgb(40, 76, 156);
}

/**ul{
    color:rgb(34, 9, 145);
}

ol{
    color:rgb(35, 13, 114);
}*/

p, ul, ol{
    color:rgb(1, 19, 97);
}

.Recipe_h1
{
    color:#719fe9;
}